ul.wow_woo_recent_purchases, ul.wow_woo_recent_purchases_widget {
	list-style: none;
}
ul.wow_woo_recent_purchases li, ul.wow_woo_recent_purchases_widget li{
   margin-bottom:2px;
   overflow:auto;
}
